* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color:black !important;
}

body {
  background: #f4f6f9;
}

.portfolio {
  max-width: 3000px;
  margin: 0 auto;
  padding: 30px 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.name {
  font-size: 40px;
  font-weight: 700;
  color: #222;
}

.role {
  font-size: 18px;
  color: #555;
}

/* Sections */
.section {
  background: #fff;
  padding: 25px 30px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.section h2 {
  margin-bottom: 15px;
  color: #222222;
}

/* Skills */
.skills ul {
  list-style: disc;
  padding-left: 20px;
}

.skills li {
  margin-bottom: 6px;
}

/* Projects */
.project-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.project-card h3 {
  margin-bottom: 8px;
}

.project-card a {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
}

.project-card a:hover {
  text-decoration: underline;
}

/* Contact section */
.contact p {
  margin-bottom: 6px;
}
